@font-face {
  font-family: rabbidHighway;
  src: url(../fonts/RabbidHighwaySignII.otf);
}

@font-face {
  font-family: didactGothic;
  src: url(../fonts/didactgothic-regular.otf);
}

html { 
  font-family: didactGothic;
  font-size: 1.0em;
  background-color: #000;
  color: #fff;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4.75em;
  margin: 0;
  padding: 0;
  font-family: rabbidHighway;
}

h2 {
  font-size: 3.75em;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0.88em;
  padding-top: 10px;
  font-family: rabbidHighway;
}

h3 {
  font-size: 3.125em;
  margin: 0;
  padding: 0;
  font-family: rabbidHighway;
}

h4 {
  font-size: 1.625em;
  margin : 0;
  padding: 0;
  font-family: rabbidHighway;
}

.highlight {
  color: #24baa3;
}

.highlight-dark {
  color: #00796b;
}

.block {
  position: relative;
}

.fullpage-section {
  z-index: 0;
  min-height: 100vh;
  overflow: auto;
}

.section-feature-wrapper {
  float: left;
  width: 60%;
  transition: 1s width cubic-bezier(.77, 0, 0.175, 1);
  height: 100vh;
}

.section-feature {
  width: 100%;
  height: 100vh;
}

.section-feature-fixed-left {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 60%;
  height: 100vh;
}

.section-feature-fixed-right {
  position: fixed;
  right: 0px;
  bottom: 0px;
  width: 60%;
  height: 100vh;
}

.section-content-wrapper {
  float: left;
  width: 40%;
  background-color: #24baa3;
  transition: 1s width cubic-bezier(.77, 0, 0.175, 1);
  min-height: 100vh;
}

.wrapper-black {
  background-color: #000;
}

.wrapper-dark {
  background-color: #00796b;
}

.section-content {
  margin: 12em 3em;
}

.section-content h1 {
  font-size: 4.75em;
  margin: 0;
  padding: 0;
  font-family: rabbidHighway;
}

.section-content p {
  font-size: 1.25em;
  margin: 0; 
  line-height: 1.4em;
} 

.section-content p a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
} 

.section-feature-image {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.section-feature-blank {
  height: 100vh;
  background-color: #00796b;
}