@font-face {
  font-family: rabbidHighway;
  font-display: fallback;
  src: url(../fonts/RabbidHighwaySignII.otf);
}

@font-face {
  font-family: didactGothic;
  font-display: fallback;
  src: url(../fonts/didactgothic-regular.otf);
}

html { 
  font-family: didactGothic;
  font-size: 1.0em;
  background-color: #000;
  color: #fff;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
  font-family: rabbidHighway;
}

h2 {
  font-size: 3.75em;
  margin-top: 0em;
  margin-left: 0em;
  margin-right: 0em;
  margin-bottom: 0.88em;
  padding-top: 10px;
  font-family: rabbidHighway;
}

h3 {
  font-size: 3.125em;
  margin: 0;
  padding: 0;
  font-family: rabbidHighway;
}

h4 {
  font-size: 1.625em;
  margin : 0;
  padding: 0;
  font-family: rabbidHighway;
}

.highlight-light {
  color: #fff;
}

.highlight {
  color: #24baa3;
}

.highlight-dark {
  color: #00796b;
}

.block {
  position: relative;
}

.fullpage-section {
  z-index: 0;
  min-height: 100vh;
  position: relative;
}

@media (max-width: 640px) {
  .hide-mobile {
    display: none;
  }

  .fullpage-section {
    overflow-y: auto;
    overflow-x: inherit;
  }
}

@media (min-width: 640px) {
  .hide-desktop {
    display: none;
  }

  .fullpage-section {
    overflow: auto;
  }
}